.loading
  &__robot
    position: absolute
    z-index: 2
    width: 50px
    height: 50px
    background: blue
    left: 50%
    top: 0
    transform: translate(-50%, -45px)
    transition-delay: 0.5s
    transition-duration: 0.3s
    &::before
      content: ''
      position: absolute
      width: 30px
      height: 2px
      background: #000
      left: 0
      top: 5px
      transform-origin: right top
      transform: translateX(-25px) rotate(-30deg)
    &::after
      content: ''
      position: absolute
      width: 30px
      height: 2px
      background: #000
      right: 0
      top: 5px
      transform-origin: left top
      transform: translateX(25px) rotate(30deg)
    &--end
      transition-duration: 1s
      &::before
        transition: 0.3s
        transition-delay: 0.3s
        transform: translateX(-25px) rotate(30deg)
      &::after
        transition: 0.3s
        transition-delay: 0.3s
        transform: translateX(25px) rotate(-30deg)
    &--jump
      animation: jump 0.5s
      animation-delay: 0.8s
      animation-timing-function: cubic-bezier(.215,.61,.355,1)
      &::before
        animation: handLeft 1s ease-out 0.8s
      &::after
        animation: handRight 1s ease-out 0.8s
  &__loader
    display: block
    width: 48px
    height: 48px
    border-radius: 50%
    animation: loaderRotate 1s linear infinite
    position: absolute
    right: 5px
    top: -25px
    &::before
      content: ""
      box-sizing: border-box
      position: absolute
      inset: 0px
      border-radius: 50%
      border: 5px solid #fff
      animation: loaderClip 2s linear infinite
  &__li
    z-index: 1
    top: 0
    &--end
      position: relative
      transform: none
      text-align: left
      font-size: 16px
      left: 0
      text-transform: none
      font-weight: normal
      transition: 0.5s
      padding-left: 20px
      &::before
        content: ''
        position: absolute
        left: 5px
        top: 9px
        width: 5px
        height: 5px
        border-radius: 50%
        background: #22c55e
    &--process
      position: relative
      text-transform: uppercase
      font-weight: bold
      font-size: 25px
      text-align: center
      color: #475569
      animation: fadeIn 0.3s
      transition: none
      padding-left: 0
      &::before
        display: none